summary::webkit-details-marker {
  display: none;
}

summary {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  min-height: 75px;
  max-width: 1600px;
  background: #222222;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: baseline;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

label {
  cursor: pointer;
}

#header__check {
  display: none;
}

#header__check:checked ~ .mobile-menu {
  display: none;
}

.mobile-menu {
  position: absolute;
  top: 75px;
  right: 20%;
  z-index: 2;
  transition: right 1s;
  background: #fff;
  padding: 32px 74px 32px 32px;
}
.mobile-menu__heading {
  color: #000;
  font-size: 14px;
  font-family: Lato;
  font-weight: 700;
}
.mobile-menu__title {
  display: block;
  margin: 24px 0 12px 0;
  color: #F16D7F;
  font-size: 14px;
  font-family: Lato;
}
.mobile-menu__list {
  padding-left: 20px;
  list-style: none;
  display: grid;
  gap: 11px;
}
.mobile-menu__list a {
  color: #6F6E6E;
  font-size: 14px;
  font-family: Lato;
}

.top-head {
  background-color: #F8F3F4;
  position: relative;
}
.top-head__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
}
.top-head__box h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  color: #F16D7F;
}
.top-head__breadcrumbs {
  list-style-type: none;
  display: flex;
  gap: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #636363;
}
.top-head__item:not(:last-child)::after {
  content: "/";
  padding: 0 5px;
  color: #636363;
}
.top-head__item:last-child {
  font-weight: bold;
}
.top-head__title {
  color: #636363;
}
.top-head__breadcrumbs a:hover {
  color: #F16D7F;
}
.top-head__title1 {
  color: #F16D7F;
}

.registration {
  display: flex;
  justify-content: center;
  gap: 128px;
  padding-top: 64px;
  padding-bottom: 96px;
}
.registration__inputs {
  display: flex;
  flex-direction: column;
  gap: 20.5px;
}
.registration__title {
  color: #222;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__input {
  width: 360px;
  padding: 13px 0 16px 17px;
  border: 1px solid #A4A4A4;
  stroke-width: 3px;
  stroke: #A4A4A4;
}
.registration__input::-moz-placeholder {
  color: #B1B1B1;
}
.registration__input::placeholder {
  color: #B1B1B1;
}
.registration__checkboxes {
  margin-top: 31px;
  margin-bottom: 33px;
  display: flex;
  gap: 20px;
  color: #000;
  font-family: Lato;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.registration__text {
  margin-top: 15px;
  margin-bottom: 39px;
  color: #B1B1B1;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__button {
  padding: 16px 0;
  width: 167px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #FFF;
  background-color: #F16D7F;
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}
.registration__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #000;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.registration__column {
  list-style-type: none;
}
.registration__li {
  padding-bottom: 16px;
  display: flex;
  gap: 28px;
}
.registration__li::before {
  content: url(images/img_reg/Vector.svg);
}

.subscription {
  min-height: 448px;
  background-size: cover;
  background-position: center;
  background: rgba(244, 244, 244, 0.7);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 223.26px;
}
.subscription__staff {
  text-align: center;
}
.subscription__staff__figure-text {
  margin-top: 30px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.subscription__input-email {
  display: grid;
  justify-items: center;
}
.subscription__input-email__text {
  font-family: "Lato";
  font-style: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  margin-bottom: 32px;
}
.subscription__input-email__title {
  font-weight: 600;
  font-size: 24px;
}
.subscription__input-email__submit {
  display: flex;
}
.subscription__input-email__submit__subscribe {
  padding: 0 20px 0 20px;
  height: 49px;
  border-radius: 30px 0 0 30px;
  border: none;
  width: 256px;
  background: #E1E1E1;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  color: #222224;
  opacity: 0.67;
}
.subscription__input-email__submit__btn {
  border-radius: 0 30px 30px 0;
  border: none;
  width: 100px;
  background: #F16D7F;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  text-align: center;
  color: #FFFFFF;
  justify-content: center;
  cursor: pointer;
}

.footer {
  background: #222222;
  min-height: 79px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer__items {
  display: flex;
  gap: 7.29px;
}
.footer__items__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: white;
}
.footer__items__item:hover {
  background-color: #F16D7F;
}
.footer__items__item:hover path {
  fill: white;
}

@media (min-width: 768px) and (max-width: 1600px) {
  .header__left {
    margin-left: 32px;
  }
  .header__right {
    margin-right: 32px;
  }
  .top-head__box {
    padding: 0 30px;
  }
  .filter-sort {
    height: 81px;
    padding-top: 24px;
    justify-content: space-around;
  }
  .product_del {
    display: none;
  }
  .product-box__content {
    gap: 16px;
  }
  .main-product__bottom_catalog {
    margin-bottom: 0;
  }
  .main-product__info {
    padding: 65px 62px;
  }
  .product-selection {
    flex-direction: column;
    align-items: center;
  }
  .product-selection__card {
    width: 734px;
  }
  .product-selection__header {
    gap: 200px;
  }
  .product-selection__buttons {
    justify-content: space-evenly;
  }
  .product-selection__info {
    flex-direction: row;
    gap: 15px;
  }
  .product-selection__info__address {
    margin-top: 60px;
  }
  .product-selection__purchase {
    margin-top: 119px;
  }
  .registration {
    gap: 22px;
  }
  .registration__data {
    margin-left: 16.5px;
  }
  .registration__info {
    font-size: 16px;
    padding-right: 16px;
    gap: 32px;
  }
  .sale {
    margin-left: 16px;
    margin-right: 16px;
    gap: 18px;
  }
  .footer__text {
    margin-left: 30px;
  }
  .footer__items {
    margin-right: 30px;
  }
  .advantages {
    justify-content: space-evenly;
    margin-top: 63px;
  }
  .subscription {
    padding-top: 53px;
    padding-bottom: 70px;
    justify-content: space-evenly;
  }
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .product-box__content {
    grid-template-columns: repeat(auto-fit, 320px);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .sale__item__big {
    min-height: auto;
  }
  .promo__title {
    font-size: 38px;
  }
  .promo__heading {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .promo__content {
    padding-left: 40px;
  }
  .promo__title {
    font-size: 38px;
  }
  .promo__heading {
    font-size: 22px;
  }
  .sale {
    margin-left: 16px;
    margin-right: 16px;
    gap: 18px;
  }
  .sale__item__big {
    min-height: auto;
  }
  .sale__text {
    font-size: 13px;
  }
  .sale__heading {
    font-size: 16px;
  }
  .product-box__content {
    gap: 16px;
  }
  .advantages {
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 64px;
  }
  .subscription {
    gap: 48px;
    flex-direction: column;
    padding-top: 53px;
    padding-bottom: 70px;
  }
  .footer__text {
    margin-left: 30px;
  }
  .footer__items {
    margin-right: 30px;
  }
  .header__left {
    margin-left: 32px;
  }
  .header__right {
    margin-right: 32px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__link-site {
    display: none;
  }
  .header__left {
    padding-left: 16px;
    margin: 0;
  }
  .header__right {
    padding-right: 16px;
    margin: 0;
  }
  .top-head__box {
    justify-content: space-evenly;
    flex-direction: column;
  }
  .filter-sort {
    justify-content: center;
  }
  .filter__heading {
    display: none;
  }
  .filter__summary svg {
    width: 37px;
    height: 25px;
  }
  .filter__content {
    margin-top: 14px;
    position: absolute;
    width: 200px;
    margin-left: 10px;
  }
  .filter[open] {
    box-shadow: none;
  }
  .sort {
    padding-top: 8px;
    margin: 0 10px;
    gap: 20px;
  }
  .sort__heading {
    white-space: nowrap;
    font-size: 10px;
  }
  .promo__img {
    display: none;
  }
  .promo {
    justify-content: center;
    padding: 148px 0;
  }
  .promo__title {
    font-size: 30px;
    line-height: 24px;
  }
  .promo__heading {
    font-size: 18px;
    line-height: 24px;
  }
  .sale {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    padding: 64px 20px 96px;
  }
  .sale__item__big {
    height: 111px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/advertisement004.jpg);
  }
  .img__big {
    display: none;
  }
  .product-box__content {
    gap: 16px;
  }
  .product-box__text {
    font-size: 12px;
  }
  .main-product__img {
    height: 600px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .product__picturebox {
    height: auto;
  }
  .main-product__info {
    padding: 65px 0;
  }
  .main-product__info__features {
    width: auto;
    gap: 10px;
    padding-top: 49px;
  }
  .main-product__info__text {
    padding: 0 20px;
  }
  .main-product__info__price {
    margin-bottom: 31px;
  }
  .main-product__info__features button {
    font-size: 10px;
  }
  .product-selection {
    flex-direction: column;
    margin: 0 10px;
  }
  .product-selection__card {
    align-items: center;
    width: auto;
    gap: 32px;
  }
  .product-selection__card-first img,
  .product-selection__card-second img {
    min-width: 143px;
    min-height: 188px;
  }
  .product-selection__card-first,
  .product-selection__card-second {
    max-width: 420px;
    justify-content: space-between;
    padding-right: 10px;
    margin-bottom: 0;
  }
  .product-selection__header {
    gap: 18px;
    margin-bottom: 26px;
  }
  .product-selection__title {
    font-size: 16px;
  }
  .product-selection__card-info {
    padding: 13px 0 13px 17px;
    font-size: 14px;
    line-height: 20px;
  }
  .product-selection__title__button {
    padding-top: 3px;
  }
  .product-selection__title__button svg {
    width: 10px;
    height: 11px;
  }
  .product-selection__input input {
    width: 26px;
    height: 18px;
  }
  .product-selection__info {
    align-items: center;
  }
  .product-selection__buttons {
    justify-content: space-around;
    gap: 10px;
  }
  .product-selection__button {
    padding: 9px 18px;
    text-transform: lowercase;
    font-size: 12px;
  }
  .product-selection__info__address {
    align-items: center;
  }
  .product-selection__purchase {
    width: 240px;
  }
  .product-selection__info__address-input {
    width: 300px;
  }
  .product-selection__purchase__line {
    width: 240px;
  }
  .product-selection__purchase__button {
    margin-bottom: 0;
    width: 220px;
    font-size: 14px;
  }
  .registration {
    flex-direction: column;
    align-items: center;
  }
  .registration__data {
    margin: 0 10px;
  }
  .registration__input {
    width: auto;
  }
  .registration__info {
    font-size: 16px;
    margin: 0 20px;
  }
  .subscription__staff__figure-text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: normal;
  }
  .subscription__input-email__text {
    font-size: 14px;
    line-height: 153.2%;
  }
  .subscription__input-email__title {
    font-size: 19px;
  }
  .subscription__input-email__submit__subscribe {
    width: 170px;
  }
  .subscription__input-email__submit__btn {
    width: 90px;
  }
  .footer {
    min-height: 143px;
    padding-bottom: 10px;
    gap: 40px;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .footer__text {
    justify-content: center;
    margin: 0;
  }
  .footer__items {
    margin: 0;
  }
}
@media (min-width: 320px) and (max-width: 425px) {
  .product {
    margin-left: 16px;
    margin-right: 16px;
  }
}/*# sourceMappingURL=style.css.map */